* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    line-height: normal;
}

/* variables */
:root {
    --primary: #280158;
    --secondary: #08142c;
    --info: #01850a;
    --success: #0ef760;
    --danger: #ed4512;
    --warning: #eae02d;
}

body {
    background: var(--secondary);
    padding: 0 16rem;
}

/* Typography */
.text-white {
    color: #fff;
}

.text-success {
    color: #01850a;
}

.btn-success {
    background-color: #188b16;
    border: none;
    padding: 0.7rem;
    border-radius: 7px;
}

.text-center{
    text-align: center;
}

.m-1{
margin: 0.5rem;
}

.mx-1{
margin: 0 0.5rem;
}

.my-1{
margin: 0.5rem 0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2rem;
    /* background-color: #ed4512; */

}

.nav-start {
    width: 20%;
    display: flex;
    justify-content: start;
    /* background-color: #eae02d; */
}

.nav-main {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #ed4512; */
}

.nav-main>ul {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.nav-main-ul>li {
    list-style: none;
    margin: 0 2rem;
}

.nav-main-ul>li>a {
    text-decoration: none;
    color: #fff;
}

.nav-end {
    width: 20%;
    display: flex;
    justify-content: end;
    align-items: center;
    /* background-color: #0ef760; */
}

.nav-end>div {
    margin: 0 1rem;
}

.hero {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.hero-left {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.hero-left>p {
    margin: 1rem 0;
}

.hero-left>div>h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.hero-right {
    width: 40%;
}

.play-now {
    margin-bottom: 4px;
}

.my-star {
    font-size: larger;
}

.play-button {
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    width: 10px;
    margin-left: 0.5rem;
}

.game {
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 3rem;
}

.game-left {
    width: 60%;
}

.game-right {
    width: 40%;
}

.game-right>div:nth-child(2) {
    margin: 1rem 0;
}
.game-right>div:nth-child(2)>h1 {
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
}

.game-right>p{
    margin: 1rem 0;
}

.match{
margin-top: 6rem;
}

.match>div>h1{
text-align: center;
}

.match>div>h1{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;   
}

.card-box{
    /* background-color: red; */
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    /* padding: 2rem;
    margin: 2rem; */
    margin-top: 2rem;
    width: 100%;
}

.card{
    width: 275px;
    border: 2px solid #161441;
    margin-top:  1rem;
    margin-right: 1.2rem;
    padding: 2rem; 
    border-radius: 1.5rem;
    
}

.live-stream{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #161441;
    border-radius: 30%;
    margin: 1rem;
}

.live-stream>div{
    margin:  0.5rem;

}


.stat-box{
    display: flex;
    justify-content: space-around;
    border: 2px solid #161441;
    margin: 1rem;
    padding: 1rem;
    margin-top: 7rem;
}

.news-letter{
    display: flex;
    width: 100%;
    border: 2px solid #161441;
    margin: 1rem;
    padding: 1rem;
    margin-top: 7rem;
    background-color: var(--info);
    border-radius: 8px;
}

.news-letter-left{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    width: 50%;
}

.news-letter-right{
    display: flex;
    justify-content: start;
    width: 50%;   
}

.form-control{
    width: 98%;
    margin: 1rem;
    padding: 1rem;
    border-radius: 8px;
    border: none;
}
.form-control:focus{
    border: none;
}

.btn-black{
    padding: 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: large;
    float: right;
}

.credits{
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    margin-top: 6rem;
}

.winner-box{
    display: flex;
    justify-content: space-between;
}
